__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.pytest_cache/
.mypy_cache/
.pyright/
.ruff_cache/
build/
dist/
release/
*.spec
*.log
.vscode/
.idea/
Thumbs.db
.DS_Store
presets.json
settings.json
installer/Output/
